<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css">
        <title>Untitled</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/dbb8627868.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg" style="background-color: #002e16;">
                <div class="container-fluid">
                    <a class="navbar-brand text-white fw-semibold fs-2" href="/">The Daily Drill</a>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo03"></div>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/signup">Sign Up</a>
                        </li>
                    </ul>
                </div>
                </div>
            </nav>
        </header>
        <main>
            <section>
                <h1>Take Control of your Day</h1>
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ex optio accusamus dolorem? Eligendi ducimus saepe necessitatibus consequuntur molestiae quas.</h3>
                <button>Sign Up Today</button>
            </section>
            <section>
                <h2>Drilling in patterns to your daily life can help you become a more productive person.</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa, eveniet! Eligendi recusandae dolores suscipit rem eaque enim inventore unde, praesentium minus fugiat iusto iure neque vero consectetur quos sunt officiis.</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum labore eos ut voluptate quaerat nisi mollitia voluptatum atque ab quo.</p>
            </section>
            <section>
                <h2>How can we help?</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque quod nihil similique eos sint mollitia nesciunt ullam molestiae repudiandae maxime at doloribus reiciendis veritatis debitis quo amet voluptates maiores, et, laboriosam asperiores quisquam deserunt delectus sunt neque! Cumque vitae excepturi aut magnam quibusdam. Quam alias, natus accusamus veniam culpa voluptatem.</p>
            </section>
        </main>
        <footer class="text-center text-white fixed-bottom" style="background-color: #002e16;">
            <!-- Grid container -->
            <div class="container p-4"></div>
            <!-- Grid container -->
          
            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
              © 2022 Copyright:
              <a class="text-white" href="/">The Daily Drill</a>
            </div>
            <!-- Copyright -->
          </footer>
    </body>
</html>