<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css">
        <title>Untitled</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <nav id="navbar">
                <h1 id="homeTitle">The Daily Drill</h1>
                <ul id="menu">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/login">Login</a>
                    </li>
                    <li>
                        <a href="/signup">Sign Up</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <section>
                <h1>Take Control of your Day</h1>
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ex optio accusamus dolorem? Eligendi ducimus saepe necessitatibus consequuntur molestiae quas.</h3>
                <button>Sign Up Today</button>
            </section>
            <section>
                <h2>Drilling in patterns to your daily life can help you become a more productive person.</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa, eveniet! Eligendi recusandae dolores suscipit rem eaque enim inventore unde, praesentium minus fugiat iusto iure neque vero consectetur quos sunt officiis.</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum labore eos ut voluptate quaerat nisi mollitia voluptatum atque ab quo.</p>
            </section>
            <section>
                <h2>How can we help?</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque quod nihil similique eos sint mollitia nesciunt ullam molestiae repudiandae maxime at doloribus reiciendis veritatis debitis quo amet voluptates maiores, et, laboriosam asperiores quisquam deserunt delectus sunt neque! Cumque vitae excepturi aut magnam quibusdam. Quam alias, natus accusamus veniam culpa voluptatem.</p>
            </section>
        </main>
        <footer>
            <img src="#" alt="logo">
            <h3>The Daily Drill</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. </p>
            <ul>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Email</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#"></a></li>
            </ul>
        </footer>
    </body>
</html>