<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css">
        <title>The Daily Drill</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <nav id="navbar">
                <h1 id="homeTitle">The Daily Drill</h1>
                <ul id="menu">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/login">Login</a>
                    </li>
                    <li>
                        <a href="/signup">Sign Up</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <section id="openingSection">
                <div>
                    <h2 class="openingHalf">The application that integrates your daily life into one managed place.</h2>
                    <p class="openingHalf">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, dignissimos architecto, facilis illum, iure incidunt quidem pariatur sequi tempore dolor quos amet cumque illo explicabo quas maxime porro ullam aliquam.</p>
                    <button>Sign Up Here</button>
                    <button>Learn More</button>
                </div>
                <div>
                    <img src="#" alt="photo here">
                </div>
            </section>
            <section>
                <h2>Features</h2>
                <div>
                    <ul>
                        <li>
                            <h3>Planner</h3>
                            <p>Never miss a deadline or appointment again!</p>
                        </li>
                        <li>
                            <h3>Task Managing</h3>
                            <p>Keep track of the tasks you wish to accomplish within the day, week, month or year. Managing which tasks are of priority and which are not as urgent will help you increase your productivity level.</p>
                        </li>
                        <li>
                            <h3>Journal</h3>
                            <p>Write down the highlights of your day or where you feel you need to improve.</p>
                        </li>
                        <li>
                            <h3>Tracking</h3>
                            <p> See how your progress is towards reaching your goals and maintaining your habits.</p>
                        </li>
                    </ul>
                </div>
            </section>
            <section>
                <h2>About Us</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores corporis accusantium vero eveniet neque odit quisquam omnis libero. Placeat illum rem animi rerum, dolore delectus in debitis error qui reprehenderit.</p>
            </section>
            <section>
                <h2>Join us today!</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius ab sint, quis dolores sequi inventore animi commodi quasi nobis. Obcaecati!</p>
                <button>Sign up</button>
            </section>
        </main>
        <footer>
            <img src="#" alt="logo">
            <h3>The Daily Drill</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. </p>
            <ul>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Email</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#"></a></li>
            </ul>
        </footer>
    </body>
</html>