/***************** Global *****************/

* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
  }

/***************** Main *****************/


#navbar {
    background: rgb(255, 255, 255);
    top: 0;
    height: 60px;
    line-height: 60px;
    width: 100vw;
    z-index: 10;
    border-bottom: 1px solid black;
  }
  
  #homeTitle {
    display: inline-flex;
    justify-content: left;
    margin-left: 20px;
    font-size: 1.5em;
    height: 60px;
    letter-spacing: 1px;
  } 
  
  #navbar ul {
    margin-left: 20px;
    display: inline-flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: end;
    list-style: none;
    text-align: right;
  }
  
  #navbar li a {
    color: rgb(0, 0, 0);
    font-size: 0.9em;
    height: 50px;
    letter-spacing: 1px;
    margin: 0 20px;
    padding: 0 4px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
  }
  
  #navbar li a:hover {
    color: rgb(86, 48, 255);
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
  }
  
  /* Animated Bottom Line */
  #navbar li a:before, #navbar li a:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    bottom: -1px;
    background: rgb(13, 26, 38);
  }
  
  #navbar li a:before {
    left: 0;
    transition: 0.5s;
  }
  
  #navbar li a:after {
    background: rgb(13, 26, 38);
    right: 0;
  }
  
  #navbar li a:hover:before {
    background: rgb(13, 26, 38);
    width: 100%;
    transition: width 0.5s cubic-bezier((0.22, 0.61, 0.36, 1));
  }
  
  #navbar li a:hover:after {
    background: transparent;
    width: 100%;
  }

  #openingSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
    column-gap: 50px;

    margin-left: 20px;
    width: 100vw;
    height: 300px;
  }